@import url('https://fonts.googleapis.com/css2?family=Muli:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
}

.bar {
    width: 4px;
    background-color: turquoise ;
    margin: 1px;
    display: inline-block;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    border-radius: 25px;
}

.container {
    margin-top: 35px;
    text-align: center;
}

.header {
    background-color: #0b0c10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.btns li {
    display: inline-block;
    padding: 0px 5px;
}

.btns li:nth-child(1) {
    padding: 0 20px 0 0;
}

button {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    display: inline-block;
    justify-content: space-around;
    padding: 4px 8px;
    border: none;
    border-radius: 50px;
    border: 1px solid turquoise;
    background-color: #0b0c10;
    color: white;
}

button:hover {
    background-color: rgb(89, 224, 211);
    transition: all 0.3s ease 0s;
}

.newArrBtn {
    background-color: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}

.newArrBtn:hover {
    background-color: rgb(255, 70, 70);
}

.logo {
   color: white;
   font-family: 'Muli', sans-serif;
   font-weight: 600;
   font-size: 30px;
}